.form-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 100%;
  height: fit-content;
  padding: 1rem calc(50% - 30rem);
  cursor: initial;

  & > h2 {
    margin-bottom: 2rem;
    text-align: center;
  }

  @media screen and (max-width: 500px) {
    padding: 3rem 1rem;
  }
}

.form {
  display: block;
}

.form-item {
  display: flex;
  flex-flow: column;
  width: 100%;
  margin-bottom: 1.5rem;
}

.form-item__label {
  cursor: pointer;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.form-item__input,
.form-item__text,
.form-item__btn {
  transition: all 300ms;
  outline: 0.05rem solid transparent;
  border: 0.05rem solid rgba(43, 43, 43, 0.311);
  border-radius: 0.25em;
  padding: 1rem 0.5rem;
  font-size: 0.8rem;
  background: transparent;
  font-weight: 500;

  &:focus {
    outline: 0.05rem solid var(--primary);
  }

  @media screen and (max-width: 600px) {
    font-size: 1rem;
  }
}

.form-item__btn {
  background: var(--primary);
  color: var(--white);
  outline-offset: 0.05rem;
  cursor: pointer;
  padding: 1rem 0.5rem;
  font-size: 1rem;
  border-radius: 1rem;
  border: 0.05rem solid var(--primary);
  font-weight: 600;


  &:disabled {
    opacity: 0.75;
  }

  &:hover {
    background: var(--white);
    color: var(--primary);
  }
}

.form-item__input {
  width: 100%;
}

.form-item__text {
  min-width: 100%;
  max-width: 30rem;
  min-height: 6rem;
  max-height: 18rem;
  font-family: var(--arkhip);
}


.form-success {
  position: fixed;
  right: 1rem;
  top: 1rem;
  background: var(--success-background);
  color: var(--success-color);
  padding: 1rem;
  font-weight: 500;
  z-index: 1;

  @media screen and (max-width: 600px) {
    width: calc(100% - 2rem);
    right: unset;
  }
}