:root {
    --rem: 16px;
    font-size: calc(var(--rem) + (20 - 16) * (100vw - 320px) / (1280 - 320));
}

@function calc-rem($min-width, $step, $max-scale) {
    @return ();
}

@for $i from 0 through 29 {
    $width: 2500px + $i * 500px;
    $rem: 16px + $i * 2.5px;

    @at-root {
        @media screen and (min-width: #{$width}) {
            :root {
                --rem: #{$rem};
            }
        }
    }
}